h1 {
	margin: auto;
	position: relative;
	width: 300px;
	height: 100px;
}

div {
	margin: auto;
	position: relative;
	width: 200px;
}

#btn {
	margin-top: 30px;
}

#btn2 {
	margin: auto;
	position: relative;
}