div.weeklyTimeTable{

    --topHeaderFillColor: #fcc64580;
    --topHeaderLineColor: #40404030;
    --topHeaderFont: 9px sans-serif;
    --topHeaderTextColor: Purple;

    --xHeaderFillColor: #fcc64520;
    --xHeaderLineColor: #40404030;
    --xHeaderFont: 9px Arial;
    --xHeaderTextColor: Blue;

    --yHeaderFillColor: #f2fc9d;
    --yHeaderLineColor: #40404030;
    --yHeaderFont: italic bold 10px serif;
    --yHeaderTextColor: Red;

    --tableFillColor: #a2d6ea20;
    --tableLineColor: #40404030;

    --fixed-width: 400;
    --fixed-height: 600;

    width: 400px;
    height: 600px;


    margin: 10px;

}

