<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학기</title>
</head>
<body>
    <h1>학기 목록</h1>
    <div>
        <a href="{% url 'create_semester' %}"><input type="submit" name="submit" value="학기 추가" /></a>
        <a href="{% url 'classtime' %}"><input type="submit" name="submit" value="시간표" /></a>
    </div>
    {% for semester in semesters %}
    <div class="post">
        <p>{{ semester.semester_name }} [{{ semester.start_day }} - {{ semester.end_day }}]</p>
    </div>
    {% endfor %}
</body>
</html>